{
	email {$ACME_EMAIL}
}

bot.adaspeas.ru {
	encode zstd gzip

	@metrics path /metrics
	basic_auth @metrics {
		{$METRICS_USER} {$METRICS_PASS}
	}

	@root path /
	redir @root /health 302

	reverse_proxy bot:8080
}
